@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #130f40;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 350px;
    background: #ecf0f1;
    border-radius: 20px;
}

.container .header {
    position: absolute;
    padding: 20px 25px;
    color: #2691d9;
    font-size: 20px;
    font-weight: 600;
}

.container .group {
    padding: 50px 30px 10px;
}

.group .item {
    margin: 25px 0;
    font-weight: 600;
    font-size: 18px;
}

.container .box-group {
    position: absolute;
    top: 65px;
    left: 280px;
}

.box-group .box2 {
    margin-top: 18px;
}

.container input[type="checkbox"] {
    position: relative;
    height: 20px;
    width: 40px;
    background: white;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    appearance: none;
    transition: 0.5s;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    transform: scale(0.85);
    background: linear-gradient(#fff, #f2f2f2, #e6e6e6, #d9d9d9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

input:checked[type="checkbox"] {
    background: #387cfa;
}

input:checked[type="checkbox"]::before {
    left: 20px;
}

/* responsiveness */

@media (max-width: 400px) {

    .container {
        width: 90%;
    }

    .container .box-group {
        position: absolute;
        top: 65px;
        left: 80%;
    }
}